/* Global */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #041e34;
  color: white;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  max-width: 1280px;
  min-width: 320px;
  margin-inline: auto;
}

/* Elements, Classes and IDs*/
h1 {
  font-weight: 500;
  line-height: 2;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  color: #fbf05b;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #ABA104;
  margin: 2rem 0 2.5rem 0;
}

#input {
  padding: 0.5rem 0.75rem;
  height: 2.25rem;
  flex-grow: 1;
  font-size: 16px;
}

#submit-btn {
  width: 3rem;
  height: 2.25rem;
  background: linear-gradient(135deg, rgba(68, 128, 76, 75%) 0%, rgba(68, 128, 76, 100%) 100%);
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
}

#submit-btn:hover {
  background: #44804C;
  cursor: pointer;
}

#submit-btn:active {
  box-shadow: inset 2px 2px 2px #37683d, inset -2px -2px 2px #4f9659;
}

#output > p:first-child {
  font-weight: 600;
  margin: 8px 0 21px 0;
}

#output > ol {                                                              /* TODO - adjust margin-left ? */
  text-align: left;
  margin-left: 2rem;
}

.panel {
  width: 272px;
  height: 105px;
  border-radius: 0.625rem;
  background-color: #44804C;
  color: #fbf05b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 3rem 1.5rem;
}

#active {                                                         /* TEMP CLASS TO DEMO ACTIVE COLORING */
  background-color: #ABA104;
  color: #041e34;
}

.panel > p {
  line-height: 2;
}

.panel > p:first-child {
  font-weight: 600;

}

.panel > p:last-child {
  font-style: italic;
  font-weight: 200;
}

.panel select, .panel input {
  padding: 0.25rem 0.25rem;
  background-color: #37683d;
  font-weight: 500;
  color: #fbf05b;
}

/* Containers */
#io {
  flex-basis: 320px;
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
}

#output {
  width: 100%;
  height: 386px;
  margin-top: 2rem;
  border: thin solid #fff;
  overflow: hidden;
}

#features {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.panels {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Medium devices */
@media only screen and (max-width: 1279px) {
  .panel {
    margin: 0 1.5rem 1.25rem 1.5rem;
  }
} 

/* Small devices */
@media only screen and (max-width: 639px) {
  body {
    flex-direction: column;
    max-width: 320px;
  }
  h2 {
    margin: 0 0 1.25rem 0;
  }
} 